{% extends "organisateur/base_organisateur.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename = 'tableau.css')}}">
{% endblock %}
{% block body %}
<h1>Les clients</h1>
<div class="table">
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mot de passe</th>
            <th>Adresse mail</th>
            <th colspan="2">Action</th>

        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.get_nom_client() }}</td>
            <td>{{ client.get_prenom_client() }}</td>
            <td>{{ client.get_mdp_client() }}</td>
            <td>{{ client.get_email_client() }}</td>
            <td><a href="{{ url_for('modifier_client', id_client=client.get_id_client()) }}">Modifier</a></td>
            <td><a href="{{ url_for('supprimer_client', id_client=client.get_id_client()) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

