{% extends "BaseSite.html" %}

{% block styles %}
    <link  href="../static/MonCompte.css" rel="stylesheet">
    <link href="../static/FormProg.css" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>Programmer une journée</title>
{% endblock %}

{% block main %}
    <div class="profile">
        <h2>Bonjour, {{ user.get_nom_groupe() }}</h2>
    </div>


    <form class="form">
        <div class="image"><img src="{{groupe.get_photo_groupe()}}" alt="image groupe"></div>
        <p class="message"> Programmer vote passage au festival. </p>
            <div class="flex">
            <label>
                <input required="" placeholder="" type="password" class="input" value={{ groupe.get_nom-groupe() }}>
                <span>Nom du groupe</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>titre</span>
            </label>
        </div>  
                
        <label>
            <input required="" placeholder="" type="date" class="input" value="exemple : 19:00:00">
            <span>Date</span>
        </label> 
            
        <label>
            <input required="" placeholder="" type="password" class="input">
            <input required="" placeholder="" type="heure" class="input" value="">
            <span>Heure</span>
        </label>
        <button class="prog">PROGRAMMER</button>
   
    </form>

{% endblock %}