<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/BaseSite.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block styles %}
    {% endblock %}
    {% block title %}{% endblock %}
</head>

<body>
    <div class="background">
        <header>
            <nav class="navbar navbar-expand-lg bg-transparent mt-2">
                <div class="container-fluid container-lg" id="round-onclick">
                    <a class="logo d-lg-none d-block text-decoration-none" href="{{ url_for('home')}}">
                        <h1><img src="../static/images/logo.png" alt="logo du site"></h1>
                    </a>
                    <button class="navbar-toggler menu border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list" id="menu"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('home') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('festival') }}">Le Festival</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('contact')}}">Nous contacter</a>
                            </li>
                        </ul>
                        <a class="logo d-lg-block text-decoration-none d-none" href="#">
                            <h1><img src="../static/images/logo.png" alt="logo du site"></h1>
                        </a>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Évènements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('billetterie')}}">Billetterie</a>
                            </li>
                            {% if user == None %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('page_connexion')}}">S'identifier</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('mon_compte')}}">Mon compte</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="rectangle-noir-transparent">
                {% block main %}
                {% endblock %}
            </div>
        </main>
    </div>
    {% block complement %}
    {% endblock %}
    <footer>
        <div class="footer-wrapper">

            <div class="social-wrapper">
                <div class='social-links'>
                    <ul>
                        <li>
                            <a href="#" title="Instagram">
                                <img src="{{ url_for('static', filename='images/instagram.svg') }}" alt='Instagram'>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin">
                                <img src="{{  url_for('static', filename='images/linkedin.svg')}}" alt='Linkedin'>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter">
                                <img src="{{ url_for('static', filename='images/twitter.svg')}}" alt='Twitter'>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Youtube">
                                <img src="{{ url_for('static', filename='images/youtube.svg')}}" alt='Youtube'>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="GitHub">
                                <img src="{{ url_for('static', filename='images/github.svg')}}" alt='GitHub'>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-columns">
                <div class="footer-links">
                    <div class="footer-logo">
                        <img src="../static/images/logoblanc.jpg" alt="">
                    </div>
                    <section>
                        <h3>Compte</h3>
                        <ul>
                            <li>
                                <a href="#" title="API">Compte</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h3>Valeurs</h3>
                        <ul>
                            <li>
                                <a href="#" title="Support">Environnement</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h3>À propos</h3>
                        <ul>
                            <li>
                                <a href="#" title="About Us">À propos</a>
                            </li>
                        </ul>
                    </section>
                </div>

            </div>
            <div class="footer-bottom">
                <div class="footer-description">
                    <h3>Notre festival est le vôtre</h3>
                </div>
                <small>© IUT d'Orléans <span id="year">2024</span>, tous droits réservés.</small>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        const btn = document.getElementById("menu");
        const addRadius = document.getElementById("round-onclick");
        btn.addEventListener("click", function () {
            addRadius.classList.toggle("radius-50");
        })
    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>