{% extends "BaseSite.html" %}
{% block styles %}
<link rel="stylesheet" href="../static/pageAccueil.css">
{% endblock %}
{% block main %}
<h2>FESTIUT'O</h2>
<p>
    Notre festival organisé par notre association de passioné de musique. Notre assiociation existe depuis 1996.
    Celle-ci réuni des individus de tout age et de tout les genres. Une associtation qui aime la diversité et qui
    cherche à partager sa passion aux plus grands nombre.
</p>
<p>
    Notre festival cherche à faire rencontrer des passionés de musique ou non, ou seulement des personnes cherchant à
    passer un bon moment, et faire de nouvelle rencontre. 
</p>
{% endblock %}