{% extends "baseConnexionInscription.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'pageconnexion.css')}}">
{% endblock %}

{% block title %}
<title>Connexion</title>
{% endblock %}

{% block main %}
<div class="login-box">
    <p>Connexion</p>
    {% if inscription == True %}
        <p class="valide">Inscription réussie !</p>
    {% endif %}
    {% if error %}
        {% for erreur in error %}
            <p class="alerte">{{ erreur }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{{ url_for('page_connexion') }}">
        {{ form.hidden_tag() }}
      <div class="user-box">
          {{ form.email }}
          {{ form.email.label }}
      </div>
      <div class="user-box">
          {{ form.mdp }}
          {{ form.mdp.label }}
      </div>
      <div id="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{ form.submit() }}
      </div>
    </form>
    <p>Vous n'avez pas de compte? <a href="{{url_for('page_inscription')}}" class="a2">Inscrivez-vous!</a></p>
  </div>
{% endblock %}