{% extends "BaseSite.html" %}

{% block styles %}
    <link  href="../static/Billetterie.css" rel="stylesheet">
{% endblock %}


{% block main %}

    <table>
        <thead>
        <tr>
            <th class="BTitle">Billetterie</th>
        </tr>
        </thead>
    </table>

    <table class="tbody-wrapper">
        <tbody>
            <tr>
                <th>Jour 1</th>
            </tr>
            <tr>
                <td>Les artistes :</td>
            </tr>
            <tr>
                <td>Les événements :</td>
            </tr>
            <tr>
                <td>img ?</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Jour 1</th>
            </tr>
            <tr>
                <td>Les artistes :</td>
            </tr>
            <tr>
                <td>Les événements :</td>
            </tr>
            <tr>
                <td>img ?</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Jour 1</th>
            </tr>
            <tr>
                <td>Les artistes :</td>
            </tr>
            <tr>
                <td>Les événements :</td>
            </tr>
            <tr>
                <td>img ?</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Jour 1</th>
            </tr>
            <tr>
                <td>Les artistes :</td>
            </tr>
            <tr>
                <td>Les événements :</td>
            </tr>
            <tr>
                <td>img ?</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Jour 1</th>
            </tr>
            <tr>
                <td>Les artistes :</td>
            </tr>
            <tr>
                <td>Les événements :</td>
            </tr>
            <tr>
                <td>img ?</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Jour 1</th>
            </tr>
            <tr>
                <td>Les artistes :</td>
            </tr>
            <tr>
                <td>Les événements :</td>
            </tr>
            <tr>
                <td>img ?</td>
            </tr>
        </tbody>

    </table>

{% endblock %}