{% extends "baseConnexionInscription.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'pageinscription.css') }}">
{% endblock %}

{% block title %}
<title>Inscription</title>
{% endblock %}

{% block main %}
      <div class="signin-box">
         <p>Inscription</p>
          {% for erreur in errors %}
            <p class="alerte">{{ erreur }}</p>
          {% endfor %}
         <form method="post" action="{{ url_for('page_inscription') }}">
             {{ form.hidden_tag() }}
            <div class="user-box">
                {{ form.nom }}
                {{ form.nom.label }}

            </div>
            <div class="user-box">
                {{ form.prenom }}
                {{ form.prenom.label }}

            </div>
           <div class="user-box">
               {{ form.email }}
               {{ form.email.label }}

           </div>
           <div class="user-box">
               {{ form.mdp }}
               {{ form.mdp.label }}

           </div>
           <div class="user-box">
               {{ form.confirm_mdp }}
               {{ form.confirm_mdp.label }}

           </div>
           <a href="">
             <span></span>
             <span></span>
             <span></span>
             <span></span>
             {{ form.submit }}
           </a>
         </form>
         <p>Vous avez un compte ? <a href="{{url_for('page_connexion')}}" class="a2">Connectez-vous!</a></p>
       </div>
{% endblock %}