{% extends "BaseSite.html" %}
{% block styles %}
<link rel="stylesheet" href="../static/pageAccueil.css">
{% endblock %}
{% block main %}
<h2>FESTIUT'O</h2>
<p><u>Les évènements</u></p>
{% for evenement in evenements %}
<div class="card">
    <div class="image"></div>
    <div class="content">
        <a href="{{ url_for('detail_event', id=evenement.get_id_evenement()) }}">
            <span class="title">
                {{ evenement.get_nom_evenement() }}
            </span>
        </a>
        <p class="desc">
            La date de l'évènement est le {{ evenement.get_date_evenement() }}
        </p>
        <a class="action" href="{{ url_for('detail_event', id=evenement.get_id_evenement()) }}">
            Tout savoir sur l'évènement
            <span aria-hidden="true">
                →
            </span>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}