{% extends "BaseSite.html" %}

{% block styles %}
    <link  href="../static/MonCompte.css" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>Mon Compte</title>
{% endblock %}

{% block main %}
    <div class="profile">
        <h2>Bonjour, {{ user.get_nom() }} {{ user.get_prenom() }}</h2>
        <p><strong>Email:</strong> {{ user.get_email() }}</p>
        <p><strong>Mot de passe:</strong> {{ user.get_mdp() }}</p>
    </div>

    <button class="deconnexion" onclick="window.location.href='{{ url_for('deconnexion') }}'">Déconnexion</button>
{% endblock %}